* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(52, 52, 52);
}

h1 {
  font-size: 1.8em;
}

.top-phones {
  text-align: center;
  margin: 50px auto;
}

header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid lightgray;
}

nav {
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 25px;
}
nav a {
  color: #545454;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  margin-top: 25px;
  width: 920px;
  display: flex;
}

.phone-container {
  border: 1px solid lightgray;
  border-radius: 10px;
  background: white;
  width: 250px;
  padding: 25px;
  display: inline-block;
}

.phone-container:not(:first-child) {
  margin-left: 25px;
}

.phone-image {
  border-radius: 10px;
  width: 200px;
  margin: 0 auto;
}

.phone-image img {
  width: 100%;
}

.phone-info {
  margin-top: 25px;
  line-height: 31px;
}

.phone-name {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.2em;
}

.buy-phone-button {
  width: 250px;
  line-height: 50px;
  height: 50px;
  background: linear-gradient(0.25turn, #85ffbd, #fffb7d);
  border-radius: 10px;
}

.color-1 {
  border-radius: 50px;
  padding: 2.5px;
  width: 25px;
  height: 25px;
  background: rgb(216, 216, 216);
  display: inline-block;
}

.color-2 {
  margin: 0 10px;
  padding: 2.5px;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  background: rgb(33, 223, 12);
  display: inline-block;
}

.color-3 {
  border-radius: 50px;
  padding: 2.5px;
  width: 25px;
  height: 25px;
  background: rgba(23, 115, 234, 0.413);
  display: inline-block;
  margin: 0 auto;
}

.color-container {
  width: 125px;
  margin: 0 auto;
  margin-top: 25px;
}

.color-border {
  display: inline-block;
  background: white;
}

.color-title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
}

footer {
  margin-bottom: 50px;
}

.cart-icon::before {
  content: "";
  display: block;
  background: url("img/Shopping-cart.svg") no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  padding-right: 12.5px;
  float: left;
  margin: 13px 0px 0px 50px;
}

.price {
  font-size: 1.8em;
  text-align: center;
  margin: 25px 0;
}
