.real-estate-item {
    width:250px;
    height:250px;  
}

.real-estate-nav {
    display:flex;
    flex-direction:row;
    gap:2rem;
}

  .real-estate-header {
    display:flex;
    justify-content: space-between;
    gap:2rem;
    flex-direction: row;
    align-items: center;
    margin-bottom:2rem;
  }

.real-estate-container {
    display:flex;
    flex-wrap:wrap;
    margin-bottom:1rem;
}

.real-estate-img{
    height:200px;
    width:200px;
    border-radius:1rem;
}

nav {
    margin-right:1rem;
}

.individual-image {
    width:250px;
    border-radius:1rem;
}

.add-to-favorites-btn {
    padding:0.5rem 1rem ;
    margin-bottom:1rem;}

.specific-info-table {
    margin-top:1rem;
    border-collapse: collapse;
    width:100%;
    text-align:center;
}

.recently-viewed-container {
    display:flex;
    max-height:200px;
    gap:2rem;
}

.recently-viewed-item{
    max-height:200px;
}

.recently-viewed-image {
    height:100px;
    width:100px;
    border-radius:1rem;
}