body {
    font-family: 'Roboto';
    color:rgb(29, 29, 31);
}

*,*:before,*:after {
    box-sizing: border-box;
   /* outline: 2px solid green; */
}

* {
    margin: 0;}


.project-1-btn {
    cursor: pointer;
    max-width:325px;
    display:inline-block;
    margin-top:2em;
    font-weight:bold;
    border:none;
    color:white;
    padding:1rem;
    border-radius:1rem;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0AC3F9, #035DE9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0AC3F9, #035DE9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased
}

img,picture,video,canvas,svg {
    display: block;
    max-width: 100%
}

input,button,textarea,select {
    font: inherit
}

p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word
}

#root,#__next {
    isolation: isolate
}

body {
    color: #1f1f1f;
    min-height: 100vh;
    font-size: 16px;
    font-family: Roboto;
    
}

.full-container {
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center
}

/**/

.main {
    gap: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem
}

.portfolio-img {
    border-radius: 1rem;
    width: 175px
}

a {
    text-decoration: none
}

.about-me-container {
    display: flex;
    flex-direction: column;
    max-width: 675px
}

.contact-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column
}

.github-btn {
    color: #fff;
    background: #3d3d3d;
    display: flex;
    justify-content: center;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    text-align: center
}

.linkedin-btn {
    color: #fff;
    background: #3d3d3d;
    display: flex;
    padding: .5rem;
    justify-content: center;
    border-radius: 1rem;
    margin-top: 1rem;
    text-align: center
}

.project-btn {
    display: flex;
    justify-content: center;
    width: 320px;
    margin: 2rem 0;
    color: #fff;
    padding: 1rem;
    background: red;
    border-radius: 1rem;
    font-weight: 700;
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right,#0AC3F9,#035DE9);
    background: linear-gradient(to right,#0AC3F9,#035DE9)
}

.material-symbols-outlined {
    margin-right: .5rem
}

.productContainer {
    position:relative;
    border:1px solid lightgray;
    border-radius:1rem;
    padding:2rem;
    flex: 0 0 32%;
    text-align:center;
    
}

.productViewContainer {
    display:flex;
}

.productDescription {
    width:750px;
}

.productImage {
    height:125px;
    margin:0 auto;
}

header,footer {
    display:flex;
    justify-content: space-between;
}

header {
    display:flex;
    align-items: center;
}

.phonesListContainer {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:1rem;
}

footer {
    display:flex;
    justify-content:center;
    text-align:center;
    color:gray;
}

.wrapper {
    max-width:850px;
    padding:1rem 0;
    margin:0 auto;
    display:block;
}

.see-more-btn {
    margin-top:1rem;
    width:100%;
    border:1px solid lightgray;
    border-radius:1rem;
    padding:0.5rem 1rem;
    background:white;
    cursor:pointer;
}

.back-to-portfolio-link {
    margin:1rem;
    text-align:center;
    background:white;
    color:gray;

}

.filteractive button {
    color:red;
    background:red;
}

.favoritesContainer img {
    height:125px;
}

.favoritesContainer {
    display:flex;
    align-items:center;
}

header a {
    color:gray;
}

.addToShoppingCart {
    cursor:pointer;
    margin-top:1rem;
    background: #035DE9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0AC3F9, #035DE9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0AC3F9, #035DE9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border:none;
    color:white;
    font-weight:bold;
    border-radius:1rem;
    padding:1rem;
}

.icons {
    display:flex;
    gap:0.5rem;
}

.product-view-img {
    width:225px;
}

.checkoutStep1Description {
    display:flex;
    flex-direction: column;
}

.shoppingCartProductContainer {
    height:125px;
    display:flex;
    
}

.checkoutProgress{
    border:1px solid lightgray;
    height:50px;
    border-radius:1rem;
    display:flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
}

.product-added-to-shopping-cart {
    background:green;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius:1rem;
    border:1px solid gray;
    position:absolute;
    color:white;
    top:20px;
    padding:1rem;
    right:100px;
}

.checkout-active {
    padding:0.25rem 1rem;
    color:white;
    border-radius:1rem;
    background: -webkit-linear-gradient(to right, #0AC3F9, #035DE9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0AC3F9, #035DE9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.favoriteProductBtn {
    width:25px;
}

.checkoutStep1 {
    
    
    border-radius:1rem;
}

.material-symbols-outlined {
    color:rgb(70, 70, 70);
}

.filter-products{
    border:1px solid lightgray;
   
    margin-bottom:1rem;
    border-radius:1rem;
    padding:1rem;
}

.filter-products button{
    cursor:pointer;
    margin-right:1rem;
    border-radius:1rem;
    border:1px solid lightgray;
    color:rgb(65, 65, 65);
}

.filter-products button:hover{
    color:white;
    background:#4b4b4b;
}

 ul {
    list-style-type: none
}

header ul li {
    
}

.product-discount-info {
    position:absolute;
    top:-12px;
    right:-12px;
    width:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:50px;
    background: #035DE9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0AC3F9, #035DE9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0AC3F9, #035DE9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight:bold;
    font-size:1rem;
    color:white;
    border-radius:50%;
}

@media (max-width: 960px) {

    .full-container {
        height:auto;
        width:100vw;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .project-1-btn {
        margin: 0 auto;
        cursor: pointer;
        max-width:325px;
        display:inline-block;
        margin-top:2em;
        font-weight:bold;
        border:none;
        color:white;
        padding:1rem;
        border-radius:1rem;
        background: #035DE9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0AC3F9, #035DE9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0AC3F9, #035DE9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


    .main {
        gap:2rem
    }

    .portfolio-img {
        width: 150px
    }

    .contact-container {
        flex-direction: row
    }

    .project-btn {
        align-self: center;
        width: 100%
    }

    .about-me-container {
        order: 1
    }

    .contact-container {
        order: 2
    }
}
