:root {
  box-sizing: border-box;
  background:#e8e8e8;
  font-family:Roboto;
  font-size:24px;
  color:rgb(41, 41, 41);
  height:100%;
  display:flex;
  justify-content: center;
  align-items:center;
  border:3px solid lightgray;
  --container: rgb(255, 255, 255);

}

main {
padding:2rem;
border-radius:1rem;
background:var(--container);
min-width:400px;
 
}

.wrapper {
display:flex;}

section {
  padding:2rem;
  border-radius:1rem;
  margin-left:1rem;
  background:var(--container);
  margin-right:1em;
}

.profile {
  width:200px;
  border-radius:1rem;
  
}

aside {

  align-items: center;
  padding:2rem;
  border-radius:1rem;
  margin-left:1rem;
  background:var(--container);
  width:250px;
}

.html--style {
  font-size:1.5rem;
  color:orange;
  font-weight:bold;
}

.projects {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project {
  display:block;
  width:100%;
  margin-top:0.5rem;
}

.project--img {
  font-size:0.7rem;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:0.5em;
  width:100%;
  height:50px;
  background-color: #dbf26e;
background-image: linear-gradient(319deg, #1cfdd6 0%, #61fa74 37%,  #dbf26e 100%);  
}

.contact-btn {
  width:100%;
  height:50px;
  border-radius:1rem;
  border: none;
  background-color: #dbf26e;
background-image: linear-gradient(319deg, #1cfdd6 0%, #61fa74 37%,  #dbf26e 100%);   
font-size:21px;
color:rgb(41, 41, 41);
font-weight:bold;

}

section ul {
  list-style-type: none;
}

a {
  text-decoration:none;
  color:rgb(41, 41, 41);
}
